<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> <!-- Include Font Awesome stylesheet -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="style.css">
    <title>Top Bar</title>
    
</head>
<body>
    <div class="top-bar">
        <div class="logo">
            <img src="images/logo6.jpg" alt="Logo">
        </div>
        <nav>
            <ul class="sidebar">
                <li onclick="closeSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li><a href="/index">Home</a></li>
                <li><a href="/article-page">Article Page</a></li>
                <li><a href="/about-us">About</a></li>
                        
                <li>
                    <input type="text" id="sidebar-search-bar" class="search-bar" placeholder="Search...">
                    <button onclick="searchSidebar()">Go</button>
                </li>
            </ul>
        
            <ul>
                <li class="hideOnMobile"><a href="/index">Home</a></li>
                <li class="hideOnMobile"><a href="/article-page">Article page</a></li>
                <li class="hideOnMobile"><a href="/about-us">About</a></li>
                <li class="hideOnMobile">
                    <input type="text" id="main-search-bar" class="search-bar" placeholder="Search...">
                    <button onclick="searchMain()">Go</button>
                </li>
                <li class="menu" onclick="showSidebar()"> <a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h520v80H120Zm664-40L584-480l200-200 56 56-144 144 144 144-56 56ZM120-440v-80h400v80H120Zm0-200v-80h520v80H120Z"/></svg></a></li>
                <button class="logout-button" onclick="logout()">Logout</button>
            </ul>
        </nav>
        
        
    </div>
    
    <div id="blogResults" class="search-results hidden"></div>

    <div id="pageItems">

    <div class="featured-title">Featured Articles</div>
    <div class="wrapper">

        <div class="up-container">
            <div class="left-section">
                <img id="image-1" src="images/business man.jpg" alt="Image">
                <h2 id="title-1">Title of the article</h2>
                <p id="content-1"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac nisl vel ligula interdum faucibus. 
                    Integer ut mi a nisl vestibulum accumsan. Vestibulum dapibus felis at mi tincidunt, vitae tincidunt 
                    nisi aliquet. Nulla facilisi. Curabitur sit amet enim vitae felis tincidunt mattis. Duis vestibulum 
                    consequat tellus ac pharetra. Nulla facilisi. Curabitur hendrerit, tortor nec tempor mollis, nunc 
                    lacus porta augue, sit amet venenatis nisl mi nec purus. In hac habitasse platea dictumst. Vivamus 
                    sollicitudin vestibulum ex, sed maximus lacus aliquam eget. Fusce nec elit tortor. Cras vehicula 
                    mauris sit amet metus fermentum, nec suscipit lectus consequat
                    </p>
                    <p><em class="author" id="author-1">Written by: Emily Johnson</em></p>
            </div>
        
            <div class="right-section">
                <a href="/display-page?post_id=1" class="article-link">
                    <div class="article" id="article-2">
                        <h2 id="title-2">The Impact of Climate Change on Biodiversity</h2>
                        <div class="category">
                            <button class="btn">Trends in Business</button>
                            <p id="content-2">Climate change is having profound effects on biodiversity worldwide. Rising temperatures, altered precipitation patterns, and extreme weather events threaten the survival of many species. This article explores some of the key ways climate change is affecting biodiversity.</p>
                        </div>
                        <p><em class="author" id="author-2">Written by: Emily Johnson</em></p>
                    </div>
                </a>
            
        
            <a href="/display-page?post_id=2" class="article-link">
                <div class="article" id="article-3"  >
                    <h2 id="title-3">The Role of Artificial Intelligence in Healthcare Transformation</h2>
                    <div class="category">
                        <button class="btn">Technology</button>
                        <p id="content-3">Artificial intelligence (AI) is revolutionizing healthcare by streamlining processes, improving diagnostics, and personalizing treatments. This post discusses the various applications of AI in healthcare and its potential to transform the industry.</p>
                    </div>
                    <p><em class="author" id="author-3">Written by: Michael Smith</em></p>
                </div>
            </a>
        
            
            <a href="/display-page?post_id=3" class="article-link">
                <div class="article" id="article-4"  >
                    <h2 id="title-4">Advancements in Renewable Energy Technologies</h2>
                    <div class="category">
                        <button class="btn">Energy</button>
                        <p id="content-4">Renewable energy technologies such as solar, wind, and hydroelectric power are rapidly advancing, offering cleaner alternatives to fossil fuels. This article explores recent breakthroughs in renewable energy and their potential to mitigate climate change.</p>
                    </div>
                    <p><em class="author" id="author-4">Written by: Sarah Lee</em></p>
                </div>
            </a>
        
            
        
    </div>
        </div>

        <div class="down-container">
            
            <div class="category">
                <h3>Science of Change</h3>
                <div class="category-images">
                    <div class="category-image"  id="article-5">
                        <img id="image-5" src="images/deskwork1.jpg" alt="Image 1">
                        <h2 id="title-5">The Psychology of Habit Formation</h2>
                        <p id="content-5">Understanding the psychology behind habit formation is key to making positive changes in our lives. This post delves into the science of habit formation, exploring how habits are created, sustained, and modified.</p>
               <p><em class="author" id="author-5">Written by: David Brown</em></p>
                        <button class="read-more-btn" data-post-id="4">Read More</button>


                    </div>
                     
                    <div class="category-image" id="article-6">
                        <img id="image-6" src="images/deskwork2.jpg" alt="Image 2">
                      
                        <h2 id="title-6">The Future of Transportation: Trends and Innovations</h2>
                        <p id="content-6">Transportation is undergoing a revolution with the emergence of electric vehicles, autonomous technology, and shared mobility services. This article examines the trends shaping the future of transportation and the innovations driving change.</p>
                            <p><em class="author" id="author-6">Written by: Jessica Taylor</em></p>
                        <button class="read-more-btn" data-post-id="5">Read More</button>
                    </div>
                     
                    <div class="category-image"  id="article-7">
                        <img id="image-7" src="images/deskwork3.jpeg" alt="Image 3">
                        <h2 id="title-7">The Science of Mindfulness Meditation</h2>
                        <p id="content-7">Mindfulness meditation has gained popularity for its numerous health benefits, including stress reduction and improved mental well-being. This post explores the science behind mindfulness meditation and its effects on the brain and body.</p>
                            <p><em class="author" id="author-7">Written by: Daniel Clark</em></p>
                        <button class="read-more-btn" data-post-id="6">Read More</button>
                    </div>
                </div>                    

                <div class="additional-images">
                    <div class="additional-image">
                        <a href="/article-page">
                        <img  id="image-8" src="images/meeting.jpg" alt="Additional Image 1">
                        <div class="overlay">
                            <i class="fa fa-link"></i> 
                        </div>
                        <h2>Click to Read More</h2>
                  
                       </div>
                    <div class="additional-image">
                        <img id="image-9" src="images/meeting.jpg" alt="Additional Image 2">
                        <div class="overlay">
                            <i class="fa fa-link"></i>  
                        </div>
                        <h2> Click to Read More</h2>
                    </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="down-container-1">
             
            <div class="left-section" id="article-10">
                <h3>Trends in business</h3>
                <img id="image-10" src="images/engineering.jpeg" alt="Image">
                <h2 id="title-10">Innovations in Sustainable Agriculture</h2>
                <div class="caption" > <p id="content-10">Sustainable agriculture practices are essential for preserving the environment and feeding a growing population. This article highlights innovative approaches to sustainable farming, from vertical farming to regenerative agriculture.</p></div>
                    <p><em class="author" id="author-10">Written by: Emma White</em></p>
            </div>
            
           
            <div class="right-section2">
               
                <div class="article"  id="article-11">
                    <h2 id="title-11">Innovations in Sustainable Agriculture</h2>
                    <p id="content-11">Sustainable agriculture practices are essential for preserving the environment and feeding a growing population. This article highlights innovative approaches to sustainable farming, from vertical farming to regenerative agriculture.</p>
                        <p><em class="author" id="author-11">Written by: Emma White</em></p>
                    <button class="read-more-btn" data-post-id="7">Read More</button>
                </div>
               
               
                <div class="article"  id="article-12">
                    <h2 id="title-12">The Neuroscience of Creativity</h2>
                    <p id="content-12">Creativity is a complex process that involves various regions of the brain working together. This post explores the neuroscience behind creativity, including the role of neurotransmitters, neural networks, and cognitive processes.</p>
                        <p><em class="author" id="author-12">Written by: Ryan Johnson</em></p>
                    <button class="read-more-btn" data-post-id="8">Read More</button>
                </div>
        
                
                <div class="article"  id="article-13">
                    <h2 id="title-13">The Power of Community in Environmental Conservation</h2>  
                    <p id="content-13">Community involvement is crucial for successful environmental conservation efforts. This article examines the power of community-led initiatives in preserving ecosystems, promoting sustainable practices, and combating climate change.</p>
                    <p><em class="author" id="author-13">Written by: Olivia Davis</em></p>
                    <button class="read-more-btn" data-post-id="9">Read More</button>
                </div>
            </div>

    </div>

    <section class="video-section">
        <h2>Featured Video</h2>
        <div class="video-container">
            
    <video controls  autoplay  muted src="images/Electrical.mp4"  width="1440" height="400">

    </video>
           
        </div>
        
    </section>
    </div>

     </div>

    <footer class="footer">
        <div class="newsletter">
            <h4>Subscribe to our Newsletter</h4>
            <p><input type="checkbox" id="privacy-policy"> <label for="privacy-policy">I have read the privacy policy and agree to the terms</label></p>
            <form id="newsletter-form" action="/subscribe" method="post">
                <div class="email-input">
                    <i class="fas fa-envelope"></i> <!-- Email icon -->
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <button type="submit">Subscribe</button>
            </form>
        </div>
        
        <div class="footer-section">
          <div class="footer-logo">
              <img src="images/logo4.jpg" alt="Logo">
          </div>
          <nav class="footer-nav">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/article-page">Article Page</a></li>
                <li><a href="/about-us">About</a></li>
            </ul>
          </nav>
      </div>
       
    </footer>
    <div class="copyright-bar">
      <p>&copy; 2024 Your Company. All Rights Reserved.</p>
  </div>
    
    
    <script src="/script.js"></script>
    
</body>
</html>