<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> <!-- Include Font Awesome stylesheet -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="style.css">
    <title>Top Bar</title>
    
</head>
<body>
    <div class="header">
        <div class="home-icon">Home</div>
        <a href="/login"  class="sign-in">sign in</a>
    </div>
    
    <div id="pageItems">

    <div class="featured-title">Featured Articles</div>
    <div class="wrapper">

        <div class="up-container">
            <div class="left-section">
            <img  id="image-131" src="images/business man.jpg" alt="Image">
            <h2 id="title-131">Title of the article</h2>
            <p id="content-131"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac nisl vel ligula interdum faucibus. 
                Integer ut mi a nisl vestibulum accumsan. Vestibulum dapibus felis at mi tincidunt, vitae tincidunt 
                nisi aliquet. Nulla facilisi. Curabitur sit amet enim vitae felis tincidunt mattis. Duis vestibulum 
                consequat tellus ac pharetra. Nulla facilisi. Curabitur hendrerit, tortor nec tempor mollis, nunc 
                lacus porta augue, sit amet venenatis nisl mi nec purus. In hac habitasse platea dictumst. Vivamus 
                sollicitudin vestibulum ex, sed maximus lacus aliquam eget. Fusce nec elit tortor. Cras vehicula 
                mauris sit amet metus fermentum, nec suscipit lectus consequat.</p>
               <p><em class="author" id="author-131">Written by: Emma White</em></p>
        </div>
            
        
         
        <div class="right-section">
            <a href="/login" class="article-link">
                <div class="article">
                    <h2 id="title-132">The Impact of Climate Change on Biodiversity</h2>
                    <div class="category">
                        <button class="btn">Society</button>
                        <p id="content-132">Climate change is having profound effects on biodiversity worldwide. Rising temperatures, altered precipitation patterns, and extreme weather events threaten the survival of many species. This article explores some of the key ways climate change is affecting biodiversity.</p>
                    </div>
                    <p><em class="author" id="author-132">Written by: Emily Johnson</em></p>
                </div>
            </a>
        
            <a href="/login" class="article-link">
                <div class="article">
                    <h2 id="title-133">The Role of Artificial Intelligence in Healthcare Transformation</h2>
                    <div class="category">
                        <button class="btn">Technology</button>
                        <p id="content-133">Artificial intelligence (AI) is revolutionizing healthcare by streamlining processes, improving diagnostics, and personalizing treatments. This post discusses the various applications of AI in healthcare and its potential to transform the industry.</p>
                    </div>
                    <p><em class="author" id="author-133">Written by: Michael Smith</em></p>
                </div>
            </a>
        
            <a href="/login" class="article-link">
                <div class="article">
                    <h2 id="title-134">Advancements in Renewable Energy Technologies</h2>
                    <div class="category">
                        <button class="btn">Trends in Business</button>
                        <p id="content-134">Renewable energy technologies such as solar, wind, and hydroelectric power are rapidly advancing, offering cleaner alternatives to fossil fuels. This article explores recent breakthroughs in renewable energy and their potential to mitigate climate change.</p>
                    </div>
                    <p><em class="author" id="author-134">Written by: Sarah Lee</em></p>
                </div>
            </a>
        </div>
        
    </div>

        <div class="down-container">
            
            <div class="category">
                <h3>Science of Change</h3>
                <div class="category-images">
                    <div class="category-image">
                        <img src="images/deskwork1.jpg" alt="Image 1">
                        <h2 id="title-135">The Psychology of Habit Formation</h2>
                        <p id="content-135">Understanding the psychology behind habit formation is key to making positive changes in our lives. This post delves into the science of habit formation, exploring how habits are created, sustained, and modified.</p>
               <p><em class="author" id="author-135">Written by: Jessica Taylor</em></p>
                        <button class="read-more-btn"  >Read More</button>


                    </div>
                     
                    <div class="category-image">
                        <img id="image-136" src="images/deskwork2.jpg" alt="Image 2">
                      
                        <h2 id="title-136">The Science of Mindfulness Meditation</h2>
                        <p id="content-136">Mindfulness meditation has gained popularity for its numerous health benefits, including stress reduction and improved mental well-being. This post explores the science behind mindfulness meditation and its effects on the brain and body.</p>
                            <p><em class="author" id="author-136">Written by: Daniel Clark</em></p>
                        <button class="read-more-btn" >Read More</button>
                    </div>
                     
                    <div class="category-image">
                        <img id="image-137" src="images/deskwork3.jpeg" alt="Image 3">
                        <h2 id="title-137">Innovations in Sustainable Agriculture</h2>
                        <p id="content-137">Sustainable agriculture practices are essential for preserving the environment and feeding a growing population. This article highlights innovative approaches to sustainable farming, from vertical farming to regenerative agriculture.</p>
                            <p><em class="author" id="author-137">Written by: Emma White</em></p>
                        <button class="read-more-btn"  >Read More</button>
                    </div>
                </div>                    

                <div class="additional-images">
                    <div class="additional-image">
                        <img src="images/meeting.jpg" alt="Additional Image 1">
                        <div class="overlay">
                            <i class="fa fa-link"></i> 
                        </div>
                        <h2>Click to Read More</h2>
                       </div>
                    <div class="additional-image">
                        <img src="images/meeting.jpg" alt="Additional Image 2">
                        <div class="overlay">
                            <i class="fa fa-link"></i>  
                        </div>
                        <h2> Click to Read More</h2>
                        
                    </div>
                </div>
            </div>
        </div>


        <div class="down-container-1">
             
            <div class="left-section">
                <h3>Trends in business</h3>
                <img id="image-138" src="images/engineering.jpeg" alt="Image">
                <h2 id="title-138">Title of the first article</h2>
                <div class="caption"> <p id="content-138">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac nisl vel ligula interdum faucibus. 
                    Integer ut mi a nisl vestibulum accumsan. Vestibulum dapibus felis at mi tincidunt, vitae tincidunt 
                    nisi aliquet. Nulla facilisi. Curabitur sit amet enim vitae felis tincidunt mattis. Duis vestibulum 
                    consequat tellus ac pharetra. Nulla facilisi. Curabitur hendrerit, tortor nec tempor mollis, nunc 
                    lacus porta augue, sit amet venenatis nisl mi nec purus. In hac habitasse platea dictumst. Vivamus 
                    sollicitudin vestibulum ex, sed maximus lacus aliquam eget. Fusce nec elit tortor. Cras vehicula 
                    mauris sit amet metus fermentum, nec suscipit lectus consequat.</p></div>
                    <p><em class="author" id="author-138">Written by: Emma White</em></p>
            </div>
            
           
            <div class="right-section2">
               
                <div class="article">
                    <h2 id="title-139">Innovations in Sustainable Agriculture</h2>
                    <p><em class="author" id="author-139">Written by: Emma White</em></p>
                    <p id="content-139">Sustainable agriculture practices are essential for preserving the environment and feeding a growing population. This article highlights innovative approaches to sustainable farming, from vertical farming to regenerative agriculture.</p>
                    <button class="read-more-btn" >Read More</button>
                </div>
               
               
                <div class="article">
                    <h2 id="title-1310">The Neuroscience of Creativity</h2>
                    <p><em class="author" id="author-1310">Written by: Ryan Johnson</em></p>
                    <p id="content-1310">Creativity is a complex process that involves various regions of the brain working together. This post explores the neuroscience behind creativity, including the role of neurotransmitters, neural networks, and cognitive processes.</p>
                    <button class="read-more-btn" >Read More</button>
                </div>
        
                
                <div class="article">
                    <h2 id="title-1311">The Power of Community in Environmental Conservation</h2>
                    <p><em class="author" id="author-1311">Written by: Olivia Davis</em></p>
                    <p id="content-1311">Community involvement is crucial for successful environmental conservation efforts. This article examines the power of community-led initiatives in preserving ecosystems, promoting sustainable practices, and combating climate change.</p>
                    <button class="read-more-btn"  >Read More</button>
                </div>
            </div>

    </div>

    <section class="video-section">
        <h2>Featured Video</h2>
        <div class="video-container">
            
    <video controls  autoplay  muted src="images/trailer.mp4"  width="1440" height="400">

    </video>
           
        </div>
        
    </section>
    </div>

     </div>

    <footer class="footer">
        <div class="newsletter">
            <h4>Subscribe to our Newsletter</h4>
            <p><input type="checkbox" id="privacy-policy"> <label for="privacy-policy">I have read the privacy policy and agree to the terms</label></p>
            <form id="newsletter-form" action="/subscribe" method="post">
                <div class="email-input">
                    <i class="fas fa-envelope"></i> <!-- Email icon -->
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <button type="submit">Subscribe</button>
            </form>
        </div>
        
        <div class="footer-section">
          <div class="footer-logo">
              <img src="images/logo4.jpg" alt="Logo">
          </div>
          <nav class="footer-nav">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/article-page">Article Page</a></li>
                <li><a href="/about-us">About</a></li>
            </ul>
          </nav>
      </div>
       
    </footer>
    <div class="copyright-bar">
      <p>&copy; 2024 Your Company. All Rights Reserved.</p>
  </div>
    
    
    
    <script>
        document.querySelectorAll('.read-more-btn').forEach(button => {
       button.addEventListener('click', () => {
         window.location.href = '/login';
       });
     });
     
     </script>
          
</body>
</html>
